<article class="unique">
    <h2 class=""><span class="">{{ post.id }}</span> {{ post.name }}</h2>
    <div class="inside">
        <p class="time">{{ post.created_at | date('d/m')}}</p>
        <aside class="post-aside">
            <p class="post-text">{{ post.getExcerpt(200) | raw}}</p>
            <a href="{{ post.url }}">lire plus</a>
        </aside>
    </div>
    <div class="index-cat">
        <p>
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>
        {% endfor %}
        </p>
    </div>
</article>